.inicial-sessao__imagem-ilustracao--ilustracao{
    height: 312.7741394042969px;
    width: 247.3378448486328px;
    left: 33.662109375px;
}

@media (min-width: 767.9px) {
    .inicial-sessao__imagem-ilustracao--ilustracao{
        height: 421.99993896484375px;
        width: 338.2792053222656px;
        
    }
}