.inicial-sessao__paragrafo{
    height: 72px;
    width: 248px;
    font-family: var(--fonte-textos);
    text-align: center;
    font-style: Regular;
    Font-size: 16px;
    Line-height: 24px;
    vertical-align: Top;
    padding: 25px 0 20px;
}

@media (min-width: 767.9px) {
    .inicial-sessao__paragrafo{
        font-weight: 400;
        font-size: 18px;
        font-style: normal;
        height: 78px;
        width: 344px;
        line-height: 144%;
    }
}

@media (min-width: 1200px) {
    .inicial-sessao__paragrafo{
        width: 488px;
        height: 52px;
        padding: 25px 0 25px;
    }
}

