.login-sessao__formulario{
    text-align: center;
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 336px;
    width: 312px;  
}

@media (min-width: 767.9px) {
    .login-sessao__formulario{ 
        width: 344px;  
        
    }
}
