.home-sessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -140px;
    text-align: center;
    z-index: -1;
}

@media (min-width:767.9px) {
    .home-sessao{
        top: -203px;
    }
}

@media (min-width: 1200px) {
    .home-sessao{
        background: url(../../../img/Forma\ 2.png) no-repeat right;
        background-size:134.45px 664px;
        background-position-y: -1px;
        top: -303px;
    }
}