.home-sessao__titulo{
    color: var(--azul);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 70%;
    height: 40px;
    margin-bottom: 15px;
}


@media (min-width: 767.9px) {
    .home-sessao__titulo{
        height: 48px;
        width: 373px;
        font-size: 18px;
        line-height: 20px;
    }
}

@media (min-width: 1200px) {
    .home-sessao__titulo{
        height: 20px;
        width: 414px;
        padding: 40px 0 20px;
    }
}