.header{
    display: flex;
    justify-content: space-between;
    background: url(/assets/img/Forma\ 1.png) no-repeat;
    background-size: contain ;
    width: 100%;
    height: 295px;
    z-index: 1;
}

@media  (min-width: 767.9px) {
    .header{
        background-size:560.9680786132812px  470px;
        height: 470px;  
    }
}

