.header-link{
    position: absolute;
    left: 80%;
    top: 6%;
}

@media (min-width: 767.9px) {
    .header-link{
        left: 90%;
        top: 7%;
    }
}

@media (min-width: 1200px) {
    .header-link{
        left: 85%;
        top: 7%;
    }
}