.cadastro-sessao__formulario--input{
    background: var(--cinza-claro);
    border: none;
    border-radius: 6px;
    color: var(--preto-cinzento);
    font-size: 12px;
    height: 40px;
    margin: 10px 0;
    text-align: center;
    width: 312px;
}
