.cadastro-sessao__formulario--span___senha {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.cadastro-sessao__formulario--span___senha-inativa{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
    cursor: pointer;
}