.mensagem{
    font-family: var(--fonte-textos);
    margin-bottom: 30px;
    width: 100%;
    height: 570px;
}

@media (min-width: 767.9px) and (max-width: 991.98px)  {
    .mensagem{
        height: 585px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .mensagem{
        height: 585px;
    }
}

@media (min-width: 1200px) {
    .mensagem{
        height: 485px;
    }
}
