.cadastro-sessao__formulario{
    text-align: center;
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    height: 336px;
    width: 312px;
}

@media (min-width: 767.9px) {
    .cadastro-sessao__formulario{
        width: 344px;
    }
}

@media (min-width: 1200px) {
    .cadastro-sessao__formulario{
        /* height: 361px; */
        width: 552px; 
    }
}