.perfil-sessao__titulo{
    color: var(--azul);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 65%;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 5px;
}

@media (min-width:767.9px) {
    .perfil-sessao__titulo{
        width: 524px;
        height: 52px;
        font-size: 18px;
        line-height: 26px;
        padding-top: 20px;
    }
}

@media (min-width: 1200px) {
    .perfil-sessao__titulo{
        padding-top: 20px;
    }
}