.perfil-sessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -140px;
}

@media (min-width: 767.9px) {
    .perfil-sessao{
        top: -220px;
        background: url(../../../img/Forma\ 2.png) no-repeat right;
        background-size: 134.45px 664px;
        background-position-y: -1px ;
    }
}

@media (min-width:1200px) {
    .perfil-sessao{
        height: 954px;
        top: -340px;
        background-position-y: 40px ;
    }
}