.logo{
    display: none;
}
@media  (min-width: 767.9px) {
    .logo{
        display: block;
        padding-top: 63px;
        padding-left: 48px;
        flex-grow: 2;
    }
}

@media (min-width: 1200px) {
    .logo{
        padding-left: 161px;
    }
}