.cadastro{
    background: url(../../img/Forma\ 3.png) no-repeat left;
    background-size: contain;
    background-size: 82.73px 415px;
    font-family: var(--fonte-textos);
    margin-bottom: 20px;
}


@media (min-width: 767.9px) {
    .cadastro{
        background: none;
    }
}