.cadastro{
    background: url(../../img/Forma\ 3.png) no-repeat left;
    background-size: contain;
    background-size: 82.73px 415px;
    font-family: var(--fonte-textos);
    margin-bottom: 20px;
}

@media (min-width: 767.9px) and (max-width: 991.98px)  {
    .cadastro{
        height: 585px;
        background: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .cadastro{
        height: 585px;
        background: none;
    }
}

@media (min-width: 1200px) {
    .cadastro{
        height: 535px;
        background: none;
    }
}