.mensagem-sessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -140px;
}


@media (min-width: 767.9px) {
    .mensagem-sessao{
        top: -185px;
    }
}