.login-sessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -140px;
    text-align: center;
}

@media (min-width: 767.9px) {
    .login-sessao{
        top: -315px;
        background: url(../../img/Forma\ 2.png) no-repeat right;
        background-size:134.45px 664px;
        background-position-y: 120px;
        height: 664px;
        padding-bottom: 120px;
    }
}

@media (min-width: 1200px) {
    .login-sessao{
        top: -473px;
        background-position-y:220px;
        height: 764px;
    }
}
