.nav__lista{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 30px;
}

@media (min-width: 767.9px) {
    .nav__lista{
        gap: 68px;
        margin-left: 65px;
        position: absolute;
        left: 200px;
    }
}

@media (min-width: 1200px) {
    .nav__lista{
        gap: 30px;
        left: 320px;
        margin-left: 15px;
        top: 65px;
    }
}